
.home-content {
  display: flex;
  flex-direction: column;
}

.modely-aksesories-cover {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-2);
}

.modely-aksesories-video {
  position: relative;
  height: 120%;
  width: 120%;
  z-index: 0;
}

.home-content {
  position: absolute;
  padding: 96px;
  height: calc(100% - 192px);
  width: calc(100% - 192px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content-title {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-2);
}

.home-content-subtitle {
  font-size: 16px;
  color: var(--color-2);
  font-weight: 600;
}

.home-content-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  top: 192px;
}

.home-links {
  bottom: 144px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;

}

.buy-now-home-btn {
  text-decoration: none;
  font-size: 14px;
  padding: 6px 24px 6px 24px;
  font-weight: 600;
  border-radius: 6px;
}

.color1 {
  background-color: var(--color-1);
  color: var(--color-2);
}

.color2 {
  background-color: var(--color-2);
  color: var(--color-1);
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.loading{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading img{
  width: 100px;
  height: 100px;
}

@media only screen and (max-width: 1080px) {
  .home-links {
    flex-direction: column;
  }

}

@media only screen and (min-width: 1080px) {
  .home-links {
    flex-direction: row;
  }

}