@media screen and (min-width: 1080px) {
    .products {
        display: flex;
        z-index: -1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 182px;
    }

    .product-info {
        background-color: black;
        position: relative;
        display: flex;
        height: 100vh;
        width: auto;
        clip-path: var(--clip-bottom-right);
        background-color: var(--color-1);
    }

    .product-img {
        height: 100%;
        width: 100%;
    }

    .product-features {
        position: absolute;
        width: 100%;
        height: 200px;
        bottom: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;
        background-color: transparent;
    }

    .product-feature {
        display: flex;
        height: 100px;
        width: 300px;
        color: white;
        font-size: 24px;
        font-weight: 700;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-spacing: 5px 1rem;
    }

    .product-feature-content {
        height: 90%;
        width: 90%;
        position: relative;
        top: 10%;
        left: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 24px;
        padding-bottom: 24px;
        background-color: var(--color-1);
    }

    .product-feature-content span {
        position: relative;
        top: 12px;
        left: 12px;
    }

    .container2 {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .product-container2 {
        width: calc(80% - 182px);
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        background-color: var(--color-2);
    }


    .product-container2::after {
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        width: 200px;
        height: 200px;
        z-index: -1;
        background-color: var(--color-1);
    }

    .product-container2::before {
        content: "";
        position: absolute;
        bottom: -3px;
        right: -3px;
        width: 200px;
        height: 200px;
        z-index: -1;
        background-color: var(--color-1);
    }


    .product-container2-media {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 48px;
        top: 0;
        background-color: var(--color-2);

    }

    .product-container2-media-content {
        width: 100%;
        height: 100%;
    }


    .product-container2-texts {
        width: 100%;
        height: 200px;
        display: flex;
        gap: 52px;
        flex-direction: row;
        align-items: center;
        background-color: var(--color-2);
    }

    .product-container2-title {
        height: calc(100% - 48px);
        padding: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-container2-title::after {
        content: "";
        background-color: var(--color-1);
        position: relative;
        top: 5%;
        left: 24px;
        width: 4px;
        height: 50px;
        z-index: 1;
    }

    .product-container2-title::before {
        content: "";
        background-color: var(--color-1);
        position: relative;
        top: 79px;
        left: -28px;
        width: 100px;
        height: 50px;
        z-index: -1;
    }

    .product-container2-title span {
        font-size: 36px;
        position: relative;
        text-align: left;
        left: -24px;
        color: var(--color-1);
        font-weight: 600;
    }

    .product-container2-text {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-container2-text span {
        font-size: 24px;
    }

    /* container 3 */

    .product-container3 {
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        gap: 24px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .porduct-container3-grid {
        height: 500px;
        width: 70%;
        display: flex;
        background-color: var(--color-2);
    }

    .grid-left {
        text-align: left;
        flex-direction: row;
    }

    .grid-right {
        text-align: right;
        flex-direction: row-reverse;
    }

    .product-container3-grid-media {
        width: 40%;
        height: 100%;
    }

    .product-container3-grid-media-content {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .product-container3-grid-text {
        color: var(--color-1);
        width: calc(60% - 48px);
        padding: 24px;
        height: calc(100% - 48px);
        display: flex;
        flex-direction: column;
        gap: 48px;
        background-image: url(../assets/Backgrounds/dots.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .product-container3-grid-details span {
        font-size: 18px;
    }

    .porduct-grid-title {
        position: relative;
        width: 100%;
    }

    .porduct-grid-title span {
        font-size: 36px;
        font-weight: 700;
    }

}

@media screen and (max-width: 1080px) {
    .products {
        display: flex;
        z-index: -1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .product-info {
        position: relative;
        display: flex;
        height: 100vh;
        width: 100%;
        background-color: var(--color-2);
    }

    .product-img {
        height: 100%;
        width: 100%;
    }

    .product-features {
        position: absolute;
        width: 100%;
        height: 200px;
        bottom: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
        background-color: transparent;
    }

    .product-feature {
        display: flex;
        height: 100px;
        min-width: 300px;
        color: white;
        font-size: 24px;
        font-weight: 700;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-spacing: 5px 1rem;
    }

    .product-feature-content {
        height: 90%;
        width: 90%;
        position: relative;
        top: 10%;
        left: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 24px;
        padding-bottom: 24px;
        background-color: var(--color-1);
    }

    .product-feature-content span {
        position: relative;
        top: 12px;
        left: 12px;
    }

    .container2 {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .product-container2 {
        width: 80%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        background-color: var(--color-2);
    }


    .product-container2::after {
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        width: 50px;
        height: 50px;
        z-index: -1;
        background-color: var(--color-1);
    }


    .product-container2-media {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 0;
        background-color: var(--color-2);

    }

    .product-container2-media-content {
        width: 100%;
        height: 100%;
    }


    .product-container2-texts {
        width: 100%;
        height: 200px;
        display: flex;
        gap: 12px;
        text-align: left;
        flex-direction: row;
        align-items: center;
        background-color: var(--color-2);
    }

    .product-container2-title {
        height: calc(100% - 48px);
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-container2-title::after {
        content: "";
        background-color: var(--color-1);
        position: relative;
        top: 5%;
        left: 0;
        width: 4px;
        height: 100px;
        z-index: 1;
    }

    .product-container2-title::before {
        content: "";
        background-color: var(--color-1);
        position: relative;
        top: 79px;
        left: -16px;
        width: 100px;
        height: 50px;
        z-index: -1;
    }

    .product-container2-title span {
        font-size: 24px;
        position: relative;
        text-align: left;
        left: -24px;
        color: var(--color-1);
        font-weight: 600;
    }

    .product-container2-text {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-container2-text span {
        font-size: 16px;
    }

    .product-container3 {
        position: relative;
        height: auto;
        width: 100%;
        display: flex;
        gap: 24px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .porduct-container3-grid {
        height: 300px;
        width: 100%;
        display: flex;
        background-color: var(--color-2);
    }

    .grid-left {
        text-align: left;
        flex-direction: row;
    }

    .grid-right {
        text-align: right;
        flex-direction: row-reverse;
    }

    .product-container3-grid-media {
        width: 40%;
        height: 100%;
    }

    .product-container3-grid-media-content {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .product-container3-grid-text {
        color: var(--color-1);
        width: calc(60% - 48px);
        padding: 24px;
        height: calc(100% - 48px);
        display: flex;
        flex-direction: column;
        gap: 48px;
        background-image: url(../assets/Backgrounds/dots.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .product-container3-grid-details span {
        font-size: 18px;
    }

    .porduct-grid-title {
        position: relative;
        width: 100%;
    }

    .porduct-grid-title span {
        font-size: 36px;
        font-weight: 700;
    }


}