.adminsidebar{
    height: 100%;
    width: 200px;
    display: flex;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    justify-content: center;
    gap: 24px;
    flex-direction: column;
    text-align: left;
    align-items: center;
    background-color: var(--color-1);
}

.adminsidebar a{
    color: var(--color-2);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    text-align: left;
    width: 100%;
    justify-content: center;
}

.log-out-btn{
    width: 50%;
    border: none;
    padding: 6px;color: red;
    border-radius: 5px;
}