.dealership-requests{
    height: calc(100vh  - 128px);
    background-color: var(--color-2);
    color: var(--color-1);
    display: flex;
    padding: 64px;
    gap: 24px;
    justify-content: center;
    flex-direction: row;
    overflow: auto;
}

.requests-grid{
    width: calc(50% - 128px);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.requests-titles{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 24px;
}

.request-card-index{
    font-size: 24px;
    font-weight: 700;
}

.request-card-name, .view-status{
    text-decoration: none;
    font-size: 18px;
    text-wrap: wrap;
    max-width: 100%;
    min-height: 50px;
    font-weight: 500;
}

.request-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0,0.2);
    min-width: 300px;
    height: fit-content;
    border-radius: 12px;
    display: flex;
    align-items: start;
    text-wrap: wrap;
    padding: 12px 36px 12px 36px;
}
.view-status{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 12px;
}

.view-status button{
    border: none;
    background-color: var(--color-1);
    padding: 6px;
    border-radius: 6px;
    color: var(--color-2);
}

